@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}

body {
  background: #5cd6cb;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  text-align: center;
}

.hamburger {
  margin: auto;
}

.clickme {
  margin: 3em 0 0;
  display: block;
  font-size: 12px;
  color: #fff;
}


.hamburger__bun {
    width: 28px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger {
    position: relative;
    width: 28px;
    height: 24px;
}

.hamburger:hover {
    cursor: pointer;
}
    
// middle line
.hamburger__filling {
    width: 28px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    transition: transform .25s cubic-bezier(.70,-.60,.260,1.60), opacity .25s ease;
}   
        
.hamburger:before,
.hamburger:after {
    width: 28px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    transition: transform .25s cubic-bezier(.70,-.60,.260,1.60), translate3d .25s cubic-bezier(.70,-.60,.260,1.60);
}

// top line
.hamburger:before {
    top: 0;
}

// bottom line
.hamburger:after {
    bottom: 0;
}

// middle line
.hamburger.is-active .hamburger__filling {
    opacity: 0;
    transform: translateX(-25%);
}
            
// top line
.hamburger.is-active .hamburger:before {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

// bottom line
.hamburger.is-active .hamburger:after {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
}
