body {
  background: #5cd6cb;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
}
.container {
  text-align: center;
}
.container .clickme {
  margin: 3em 0 0;
  display: block;
  font-size: 12px;
  color: #fff;
}
.container .hamburger {
  margin: auto;
}
.hamburger__bun,
.hamburger__filling,
.hamburger:before,
.hamburger:after {
  width: 28px;
  height: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger {
  position: relative;
  width: 28px;
  height: 24px;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger__filling {
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  transition: transform 0.25s cubic-bezier(0.7, -0.6, 0.26, 1.6), opacity 0.25s ease;
}
.hamburger:before,
.hamburger:after {
  content: "";
  transition: transform 0.25s cubic-bezier(0.7, -0.6, 0.26, 1.6), translate3d 0.25s cubic-bezier(0.7, -0.6, 0.26, 1.6);
}
.hamburger:before {
  top: 0;
}
.hamburger:after {
  bottom: 0;
}
.hamburger.is-active .hamburger__filling {
  opacity: 0;
  transform: translateX(-25%);
}
.hamburger.is-active:before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger.is-active:after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}
